<div class="custom-collections">
	<div data-module="ap-overview" iscustomoverview></div>
	<div class="edit-zone"></div>
	<div class="divisor">
		<p class="presentation-name">e.g. name</p>
		<div class="arrow"></div>
		<p class="instructions">Build your presentation by dragging slides</p>
		<div class="arrow"></div>
		<button class="save">Save</button>
		<button class="cancel">Cancel</button>
	</div>
</div>
