.ag-overlay-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
  opacity: 0;
}
.ag-overlay-content {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right:10%;
  background-color: #fff;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  padding:2%;
}
.ag-overlay-content .slide {
  width: 100%;
  height: 100%;
}
.ag-overlay-x {
  position: absolute;
  background-color: red;
  right:9%;
  top:9%;
  width:40px;
  height:40px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  padding:9px 12px;
}
.ag-overlay-x::after {
  content: "X";
  color:white;
  font-weight: bold;
  font-size: 1.6em;
}
.state-ag-overlay-open .ag-overlay-background,
.state-ag-overlay-open .ag-overlay-content,
.state-ag-overlay-open .ag-overlay-x {
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s 0.1s;
}

.ag-overlay-actions {
  position: absolute;
  bottom:0;
  height: 75px;
  background-color: white;
  /*border-top:1px solid #d2d2d2;*/
  width: 96%;
  padding: 10px 0;
}
.ag-overlay-actions button {
  float:right;
  margin-left:25px;
}