#iodine_page_02 h1 {
	margin-bottom: 35px;
}

#iodine_page_02 .img-full {
	border-radius: 50%;
	border-width: 0;
	width: 400px;
}

#iodine_page_02 .container {
    padding: 20px 30px;
}
#iodine_page_02 .text-ref {
    bottom: 45px;
    left: 120px;
}