#the_elevit_range_page_04 {}

#the_elevit_range_page_04 .container {
    padding: 20px 80px;
}
#the_elevit_range_page_04 h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
#the_elevit_range_page_04 p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #148B97;
}
#the_elevit_range_page_04 strong {
    font-family: 'TradeGothicLTStd-Bold';
    font-size: 22px;
}

#the_elevit_range_page_04 .packshot-morning-sickness{
    position: absolute;
    bottom: 80px;
    left: 50px;
    z-index: 9;
}
    #the_elevit_range_page_04 .packshot-morning-sickness img {
        width: 292px;
    }
#the_elevit_range_page_04 .contain-inside {
    position: absolute;
    top: 350px;
    left: 360px;
    right: auto;
    max-width: 580px;
    padding-top: 20px
}    
#the_elevit_range_page_04 .contain-inside ul {
    margin-bottom: 20px;
    margin-left: 25px;
}
#the_elevit_range_page_04 .contain-inside li {
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.25em;
    color: #148B97;
}
    #the_elevit_range_page_04 .contain-inside p {
        font-size: 20px;
    }
    #the_elevit_range_page_04 .contain-inside p span {
        color: #646464;
    }

    #the_elevit_range_page_04 .contain-inside li:before {
        content: url(../../contents/Bullets-Green.png);
        /* content: "•"; */
        font-size: 28px;
        position: absolute;
        top: -4px;
        left: -25px;
    }    