<article id="test_slide_4" class="slide" data-ag-name="Test Slide 4">
  <h1 data-ag-editable="header">Headline Slide 4</h1>

  <h2 data-ag-editable="sub-headline">Sub-Headline</h2>

  <h3 data-ag-editable="sub-sub-headline">Sub-Sub-Headline</h3>

  <p data-ag-editable="paragraph">Paragraph</p>
  <ul>
    <li data-ag-editable="list-entry-1">Donec in sagittis erat.</li>
    <li data-ag-editable="list-entry-2">Duis blandit tincidunt hendrerit.</li>
    <li data-ag-editable="list-entry-3">Phasellus sed sem lacus. Vestibulum ante<br/>ipsum primis in faucibus orci luctus et ultrices.</li>
  </ul>
  <p class="set-custom-popover" data-popover="Slide4/slide"></p>
  <div class="bayerLogo"></div>
  <div class="brandLogo"></div>
</article>
