[data-module='ap-overview'] {
	display: none;
}

[data-module="ap-overview"].state-visible,
[data-module='ap-overview'].state-customOverview{
	display: block;
}

[data-module="ap-overview"].state-customOverview .overview,
[data-module="ap-overview"].state-visible .overview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

[data-module="ap-overview"].state-visible .overview {
	bottom: 0;
}
[data-module="ap-overview"] .overview .collections,
[data-module="ap-overview"] .overview .collection-overview {
	position: absolute;
	top: 0;
	bottom: 0;
	box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5), inset 0 0 15px 0 rgba(50, 50, 50, 0.2);
}

[data-module="ap-overview"] .overview .collections {
	left: 0;
	width: 30%;
	padding: 15px;
	box-sizing: border-box;
	overflow: scroll;
}

[data-module="ap-overview"] .overview .collections .collection-name {
	background: transparent url(assets/arrowRX.png) right / 21px no-repeat;
	overflow: visible;
	margin: 4px 8px 0 3px;
	padding: 10px 25px 5px 10px;
	list-style: none;
}

[data-module="ap-overview"] .overview .collections .collection-name.selected {
	box-shadow: inset 0 0 15px 0 rgba(50, 155, 197, 0.4);
	border-radius: 4px;
}

[data-module="ap-overview"] .overview .collection-overview {
	width: 70%;
	right: 0;
	overflow: hidden;
}

.o-collection {
	float: left;
	white-space: nowrap;
	padding: 15px;
}

.o-slideshow {
	display: inline-block;
	width: 136px;
	vertical-align: top;
	margin: 0 5px;
	position: relative;
}

.o-slideshow-name {
	display: table-cell;
	font-size: 12px;
	text-align: center;
	height: 30px;
	vertical-align: middle;
	width: 144px;
}

.o-slide {
	float: left;
	text-align: center;
	font-size: 13px;
	background: lightblue 0 0 / 100% no-repeat;
	box-shadow: 2px 2px 2px gray;
	width: 136px;
	height: 102px;
	margin: 4px;
	transform: translateZ(0);
	transition: transform .3s;
	display: flex;
	align-items: center;
	position: relative;
}

.o-slide .o-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	width: 136px;
	box-sizing: border-box;
	padding: 0 10px;
	pointer-events: none;
}

.o-tip {
	position: relative;
	background: #519cd5;
	box-shadow: 3px 3px 3px grey;
	border: 0 solid #000;
	border-radius: 3px;
	z-index: 999;
	color: white;
	display: none;
	padding: 1rem 1rem .75rem 1rem;
	margin: -1.4rem 0 0 -18.6rem;
	text-align: center;
	width: 18rem;
	height: 2.7rem;
	box-sizing: border-box;
	pointer-events: none;
	animation: fadeOut .4s ease-out 1.2s;
}

.o-tip:after {
	left: 100%;
	top: 50%;
	border: 9px solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #519cd5;
	margin-top: -9px;
}

.o-slide.highlighted {
	box-shadow: 2px 2px 2px black;
	outline: 1px solid black;
}

#ag-overlay .o-slide {
	float: none;
	text-align: center;
	font-size: 13px;
	background: white top center / contain no-repeat;
	box-shadow: none;
	width: 100%;
	height: 100%;
	margin: 0;
	transform: translateZ(0);
	transition: none;
	display: flex;
	align-items: center;
	border: 2px solid grey;
	border-radius: 10px;
}
#ag-overlay .o-slide.highlighted {
	box-shadow: none;
	outline: none;
}

#ag-overlay .o-slide .o-text {
	width: 100%;
}
#ag-overlay.state-ag-overlay-open .ag-overlay-background,
#ag-overlay.state-ag-overlay-open .ag-overlay-content,
#ag-overlay.state-ag-overlay-open .ag-overlay-x{
	z-index: 10000;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}