#iron_page_04 {}

#iron_page_04 h1 {
	margin-bottom: 25px;
}

#iron_page_04 .container {
    padding: 25px 30px;
}
#iron_page_04 li {
    font-size: 20px;
    margin-bottom: 15px;
}
#iron_page_04 .quote-box {
    margin: 25px 45px 0 45px;
    padding: 20px 50px;
}