#formulation_page_02 h1 {
	color: #D582B7;
	font-size: 30px;
}
#formulation_page_02 .img-full {
	width: 459px;
}
#formulation_page_02 .text-ref {
    position: absolute;
    bottom: 60px;
    left: 30px;
}
	#formulation_page_02 .text-ref p {
	    font-size: 12px !important;
	    line-height: 12px;
	    margin-bottom: 5px;
	    text-align: left;	    
	}

#formulation_page_02 .container-small {
    max-width: 800px;
}
.table-vit {
	position: absolute;
	top: 150px;
	left: 30px;
}
.table-min  {
	position: absolute;
	top: 150px;
	right: 30px;
}
#formulation_page_02 .table-vit .icon-zoom, #formulation_page_02 .table-min .icon-zoom {
    position: absolute;
    bottom: 1px;
    right: 1px;
}