#formulation_page_03 h1 {
	text-align: center;
	margin: 40px 0 0 0;
}
/*#formulation_page_03 .img-full {
	width: 830px;
}*/

#formulation_page_03 .container {
    padding: 30px 30px;
}
#formulation_page_03 .text-ref {
    bottom: 30px;
    left: 110px;
}
/*#formulation_page_03 .icon-zoom {
	position: absolute;
    bottom: 85px;
    right: 97px;
}*/
/*#formulation_page_03 .container-small {
    max-width: 950px;
}*/
#formulation_page_03 .graph-z .icon-zoom {
    bottom: 0px;
    right: 0px;
}