#formulation_page_01 {}

#formulation_page_01 .container {
    padding: 35px 30px;
}

#formulation_page_01 .prod-packshot {
    position: absolute;
    bottom: 100px;
    /*bottom: 65px;*/
    left: 40px;
    /*left: 380px;*/
    /*left: 260px;*/
}
    #formulation_page_01 .prod-packshot img {
        width: 335px;
        /*width: 360px;*/
    }  
#formulation_page_01 .product-badge {
    position: absolute;
    bottom: 210px;
    /*bottom: 185px;*/
    left: 320px;
    /*right: 170px;*/
    /*right: 290px;*/
}    
    #formulation_page_01 .product-badge img {
        width: 150px;
        /*width: 170px;*/
    } 

#formulation_page_01 .contains {
    position: absolute;
    bottom: 200px;
    /*bottom: 195px;*/
    left: 490px;
    /*left: 90px;*/
}

#formulation_page_01 .contains p {
    font-size: 22px;
    /*font-size: 24px;*/
    color: #083A83;
    font-family: 'Barmeno-Medium';
    /*font-family: 'Barmeno-Regular';*/
}