#the_elevit_range_page_02 {}

#the_elevit_range_page_02 .container {
    padding: 20px 80px;
}
#the_elevit_range_page_02 h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
#the_elevit_range_page_02 p {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #0076AC;
}
#the_elevit_range_page_02 strong {
    font-family: 'TradeGothicLTStd-Bold';
    font-size: 24px;
}

#the_elevit_range_page_02 .packshot-menevit {
    position: absolute;
    bottom: 155px;
    left: 100px;
    z-index: 9;
}
    #the_elevit_range_page_02 .packshot-menevit img {
        width: 226px;
    }
#the_elevit_range_page_02 .contain-inside {
    position: absolute;
    top: 350px;
    left: 380px;
    right: auto;
    max-width: 550px;
    padding-top: 50px
}    

    #the_elevit_range_page_02 .contain-inside p span {
        color: #646464;
    }