#iron_page_03 {}

#iron_page_03 .hd-graph {
	padding: 85px 25px 0 25px;
	/*max-width: 850px;*/
	margin: 0 auto;
}

#iron_page_03 .container {
    padding: 30px 30px;
}
#iron_page_03 .container-small {
	max-width: 900px;
}
#iron_page_03 .text-ref {
    bottom: 100px;
    left: 90px;
}
#iron_page_03 .graph-z .icon-zoom {
    bottom: 0px;
    right: 0px;
}
	#iron_page_03 .hd-graph .h4 {
	    font-size: 20px;
	}