#the_elevit_range_page_01 {}

#the_elevit_range_page_01 .header-range {
	position: absolute;
	top: 235px;
	left: 25%;
	width: 50%;
}
	#the_elevit_range_page_01 h2.header-range  {
		font-size: 32px;
		text-align: center;
		line-height: 36px;
	}

#the_elevit_range_page_01 .bg-curve {
    position: absolute;
    left: -95px;
    top: 110px;
    opacity: 0.65;
}	
	#the_elevit_range_page_01 .bg-curve img.img-full {
	    max-width: 1247px;
	}

.woman-range-1 {
    background-size: 84px 216px!important;
    width: 84px;
    height: 216px;
    position: absolute;
    top: 305px;
    left: 5px;
    opacity: 0.85;
}
	.woman-range-1 {
	    background: url(../../contents/the-elevit-range/woman-s01.png) no-repeat;
	}
.woman-range-2 {
    background-size: 205px 296px!important;
    width: 205px;
    height: 296px;
    position: absolute;
    top: 240px;
    right: 50px;
    opacity: 0.85;
}
	.woman-range-2 {
	    background: url(../../contents/the-elevit-range/woman-s02.png) no-repeat;
	}

.bg-line-range {
    background-size: 1254px 45px!important;
    width: 1254px;
    height: 45px;
    position: absolute;
    top: 520px;
    left: -35px;
}
	.bg-line-range {
	    background: url(../../contents/the-elevit-range/bg-line-range.png) no-repeat;
	}	

.button-range {
	position: relative;
/*	position: absolute;
	bottom: 130px;
	left: 130px;*/
	margin-top: 470px;
}
	.button-range .label .btn-range {
	    display: inline-block;
	    margin-right: 20px;
	}



.bg-line-range .label {
	padding: 21px 0 0 20px;
	position: absolute;
	left: 180px;	
}	
	.bg-line-range .btn.label-range {
	    display: inline-block;
	    padding: 0 210px 0 0px;		
	    color: #fff;
	    font-family: 'TradeGothicLTStd-Bold';
	    font-size: 16px;
	}	

