#nutrition_page_03 {}
#nutrition_page_03 h1 {
	margin: 25px 0;
}

#nutrition_page_03 .graph {
	margin: 55px 0px 75px 0px;
}

#nutrition_page_03 .g-s01 {
	position: absolute;
	left: 103px;
	overflow: hidden;
	width: 0px;
}
#nutrition_page_03 p.text-big {
	font-size: 34px;
}