#iodine_page_03 {}
#iodine_page_03 h1 {
	margin-bottom: 20px;
}
#iodine_page_03 .img-full {
	width: 860px;
}
#iodine_page_03 .hd-graph {
	padding: 5px 25px 15px 25px;
}
#iodine_page_03 .container {
    padding: 35px 30px;
}
#iodine_page_03 .text-ref {
    bottom: 55px;
    left: 110px;
}
#iodine_page_03 .graph-z .icon-zoom {
    bottom: 0px;
    right: 0px;
}