#gpc_slide h1 {
    position: absolute;
    top: 550px;
    left: 0;
    right: 0;
    text-align: center;
    color: #9D9D9D;
    font-size: 63px;
}

#gpc_slide .bayerLogo.huge {
    background: url(assets/bayer-logo-rgb-big.png) no-repeat;
    top: 50px;
    left: 0px;
    right: auto;
    width: 100%;
    height: 500px;
    background-size: 410px;
    background-position: center;
}

#gpc_slide .gpc-number {
  position: absolute;
  top: 640px;
  left: 0;
  right: 0;
  text-align: center;
  color: #9D9D9D;
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {

    #gpc_slide h1{
        top: 75%;
        font-size: 3em;
    }

    #gpc_slide .bayerLogo.huge{
        top: 25%;
    }

}


@media all and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

    #gpc_slide h1{
        top: 75%;
        font-size: 3em;
    }

    #gpc_slide .bayerLogo.huge{
        top: 25%;
    }

}

/* Portrait and Landscape */
@media only screen
and (max-width: 736px)
and (max-device-width: 736px) {

    #gpc_slide h1 {
        top: 430px;
        font-size: 24px;
    }

    #gpc_slide .bayerLogo.huge{
        background-size: 250px;
    }
}
