<article id="gpc_slide" class="slide">
  <h1>Science For A Better Life</h1>
  <div class="bayerLogo huge"></div>
  <div data-module="bhc-gpc-number" class="gpc-number">GPC:</div>
  <p class="set-custom-popover" data-popover="gpc/slide"></p>
</article>
