#iron_page_05 {}
#iron_page_05 .container-small {
	max-width: 960px;
}
#iron_page_05 .hd-graph {
	padding: 85px 25px 0 25px;
}
#iron_page_05 .container {
    padding: 20px 30px;
}
#iron_page_05 .text-ref {
    bottom: 50px;
    left: 60px;
}
#iron_page_05 .graph-z .icon-zoom {
    bottom: 0px;
    right: 0px;
}
	#iron_page_05 .hd-graph .h4 {
	    font-size: 22px;
	}