<article id="summary_slide" class="slide" data-ag-name="Summary Slide">

  <h1 data-ag-editable="header">Summary</h1>
  <button data-popover='openPopup/bottomCenterCustom1/bottom' data-popup="test_popup_1_slide">TEST_POPUP_1_SLIDE</button>
  <ul>
    <li data-ag-editable="list-entry-1">Donec in sagittis erat.</li>
    <li data-ag-editable="list-entry-2">Duis blandit tincidunt hendrerit.</li>
    <li data-ag-editable="list-entry-3">Phasellus sed sem lacus. Vestibulum ante<br/>ipsum primis in faucibus orci luctus et ultrices.</li>
  </ul>
  <p class="set-custom-popover" data-popover="summary/slide"></p>
  <div class="bayerLogo"></div>
  <div class="brandLogo"></div>
</article>
