#folic_acid_page_02 {}
#folic_acid_page_02 .container-small {
	max-width: 800px;
}

#folic_acid_page_02 .container {
    padding: 15px 30px;
}
#folic_acid_page_02 .text-ref {
    bottom: 30px;
    left: 140px;
    padding-right: 50px;
}
	#folic_acid_page_02 .text-ref p {
	    font-size: 12px !important;
	    line-height: 16px;
	    margin-bottom: 5px;
	    text-align: left;	    
	}

#folic_acid_page_02 ul {
    padding-right: 50px;
}	
#folic_acid_page_02 .graph-z .icon-zoom {
    bottom: 0px;
    right: 0px;
}