[data-module="ap-slide-indicator"] {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50px;
    bottom: 5px;
    z-index: 102;
}

[data-module="ap-slide-indicator"] .joystick {
    height: 40px;
    width: 40px;
}

[data-module="ap-slide-indicator"] .joystick > div{
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
    background-size: 11px 11px !important;
}

[data-module="ap-slide-indicator"] .joystick .up {
    background: url(assets/button_arrow_up.png) no-repeat center top;
}
[data-module="ap-slide-indicator"] .joystick .left {
    background: url(assets/button_arrow_left.png) no-repeat left center;
}
[data-module="ap-slide-indicator"] .joystick .down {
    background: url(assets/button_arrow_down.png) no-repeat center bottom;
}
[data-module="ap-slide-indicator"] .joystick .right {
    background: url(assets/button_arrow_right.png) no-repeat right center;
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    [data-module="ap-slide-indicator"] {
        left: 40px;
    }
}

/* Portrait and Landscape */
@media only screen
and (max-width: 736px)
and (max-device-width: 736px) {
    [data-module="ap-slide-indicator"] {
        left: 20px;
    }
}