#the_elevit_range_page_03 {}

#the_elevit_range_page_03 .container {
    padding: 20px 80px;
}
#the_elevit_range_page_03 h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
#the_elevit_range_page_03 p {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #6F208B;
}
#the_elevit_range_page_03 strong {
    font-family: 'TradeGothicLTStd-Bold';
    font-size: 24px;
}

#the_elevit_range_page_03 .packshot-morning-sickness{
    position: absolute;
    bottom: 100px;
    left: 100px;
    z-index: 9;
}
    #the_elevit_range_page_03 .packshot-morning-sickness img {
        width: 229px;
    }
#the_elevit_range_page_03 .contain-inside {
    position: absolute;
    top: 350px;
    left: 380px;
    right: auto;
    max-width: 550px;
    padding-top: 85px
}    

    #the_elevit_range_page_03 .contain-inside p span {
        color: #646464;
    }