#nutrition_page_01 {}

#nutrition_page_01 .text-ref {
	font-size: 14px!important;
    bottom: 50px;
    left: 50px;
}
#nutrition_page_01 h1 {
    margin-bottom: 25px;
}
/*.graph-nutrition-01 {
	padding: 20px;
	margin-bottom: 30px;
}
	.graph-nutrition-01 img {
		max-width: 85%
	}*/

#nutrition_page_01 .graph-nutrition-01 {
	position: relative;
}

/*	#nutrition_page_01 .graph-nutrition-01 img.img-full {
		max-width: 820px;
	}*/

/*img.g-bg-s00 {
	margin-left: 40px;
}
*/
#nutrition_page_01 .graph-nutrition-01 .g-s00 {
	position: absolute;
}
#nutrition_page_01 .graph-nutrition-01 .g-s01, 
#nutrition_page_01 .graph-nutrition-01 .g-s02, 
#nutrition_page_01 .graph-nutrition-01 .g-s03, 
#nutrition_page_01 .graph-nutrition-01 .g-s04 {
	position: absolute;
	overflow: hidden;
	height: 0px;
}
#nutrition_page_01 .graph-nutrition-01 .g-s00 {
	left: 145px; 
	top: 147px;
}
#nutrition_page_01 .graph-nutrition-01 .g-s01 {
	left: 165px; 
	bottom: 101px;
}
#nutrition_page_01 .graph-nutrition-01 .g-s02 {
	left: 177px; 
	bottom: 101px;
}