.popover {
	z-index: 10000;
}
.popover.custom {
	top: 50px !important;
	left: 82px !important;
	max-width: none;
	width: 942px;
	background: none;
	padding: 19px 0 0 10px;
	box-shadow: none;
	pointer-events: none;
}
.popover.custom .popover-title {
	height: 70px;
	padding-left: 5px;
	background: none;
	font: 400 40px / 1.2 Helvetica;
	color: #1691C3;
}
.popover.custom .popover-content {
	padding: 0;
}
.popover.custom .custom-popover-wrapper {
	height: 665px;
	overflow: hidden;
	position: relative;
}
.popover.custom .scroll-wrapper-container {
	width: 820px;
	position: relative;
	overflow: hidden;
	margin: 5px;
}
.popover.custom .scroll-wrapper-container .item {
	height: 665px;
}
.popover.custom .iScrollVerticalScrollbar {
	position: absolute;
	z-index: 10;
	top: 6px;
	bottom: 6px;
	right: 12px;
	overflow: hidden;
	width: 6px;
}
.popover.custom .iScrollIndicator {
	background-color: #fff;
}
.popover.custom h4 {
	margin-bottom: 7px;
	font: 700 27px / 1.2 Helvetica-Bold;
	color: #fff;
}
.popover.custom li,
.popover.custom p {
	padding-left: 3px;
}
.popover.custom li,
.popover.custom p,
.popover.custom td {
	font: 400 24px / 1.2 Helvetica;
	color: #fff;
}
.popover.custom li {
	margin-bottom: 8px;
}
.popover.custom p {
	margin-bottom: 10px;
}
.popover.custom th,
.popover.custom mark,
.popover.custom .scroll-label {
	background: none;
	font: 700 24px / 1.2 Helvetica-Bold;
	color: #6eabe3;
}
.popover.custom th {
	text-align: left;
	padding-bottom: 9px;
}
.popover.custom .numeric-list {
	counter-reset: ol-counter;
}
.popover.custom .numeric-list li {
	padding-left: 20px;
}
.popover.custom .numeric-list li:before {
	counter-increment: ol-counter;
	content: counter(ol-counter) '.';
	transform: translate3d(0, 0, 0);
}
.popover.custom .dotted-list li {
	padding-left: 15px;
}
.popover.custom .dotted-list li:before {
	content: '\2022';
	color: #fff;
}
.popover.custom .numeric-list li,
.popover.custom .dotted-list li {
	position: relative;
}
.popover.custom .numeric-list li:before,
.popover.custom .dotted-list li:before {
	position: absolute;
	left: 0;
}
.popover.custom .overlay-note {
	font-size: 15px;
	letter-spacing: .4px;
}
.popover.custom table {
	width: 100%;
	margin-bottom: 10px;
}
.popover.custom .custom-popover-wrapper.show-scroll .scroll-wrapper-container {
	pointer-events: auto;
}
.overlay-references strong {
	display: none;
}
.popover.custom .custom-popover-wrapper .overlay-references {
	padding-top: 20px;
}
.popover.custom .custom-popover-wrapper .overlay-references strong {
	display: inline;
}
.set-custom-popover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	pointer-events: none;
}
.tour-custom-point {
	opacity: 0;
}
