<div class="custom-popover-wrapper">
	<div class="scroll-wrapper-container" data-bind="foreach: { data: content, as: 'item'}">
		<div data-bind="attr: { class: item.classes ? item.classes + ' item' : 'item'}">
			<!-- ko if: item.title -->
			<h4 data-bind="html: item.title"></h4>
			<!-- /ko -->
			<!-- ko if: item.list -->
			<ul class="dotted-list" data-bind="foreach: { data: item.list, as: 'li' }">
				<li data-bind="html: li"></li>
			</ul>
			<!-- /ko -->
			<!-- ko if: item.numberList -->
			<!-- ko if: item.numberList.title -->
			<p class="numeric-title" data-bind="html: item.numberList.title"></p>
			<!-- /ko -->
			<ul class="numeric-list" data-bind="foreach: { data: item.numberList.list, as: 'li' }">
				<li data-bind="html: li"></li>
			</ul>
			<!-- /ko -->
			<!-- ko if: item.text_list -->
			<ul class="text-list" data-bind="foreach: { data: item.text_list, as: 'li' }">
				<li data-bind="html: li"></li>
			</ul>
			<!-- /ko -->
			<!-- ko if: item.references -->
			<p class="overlay-references">
				<strong data-bind="if : item.references.length === 1">Reference:</strong>
				<strong data-bind="if : item.references.length > 1">References:</strong>
				<!-- ko foreach: { data: item.references, as: 'dd' } -->
				<strong data-bind="html: $index() + 1 + '.'"></strong>
				<span data-bind="attr: { 'data-overlay-reference': dd.item }"></span>
				<!-- /ko -->
			</p>
			<!-- /ko -->
			<!-- ko if: item.table -->
			<table>
				<colgroup data-bind="foreach: { data: item.table.thead, as: 'th' }">
					<col>
				</colgroup>
				<thead>
					<tr data-bind="foreach: { data: item.table.thead, as: 'th' }">
						<th data-bind="html: th"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: { data: item.table.tbody, as: 'tr' }">
					<tr data-bind="foreach: { data: tr, as: 'td' }">
						<td data-bind="html: td"></td>
					</tr>
				</tbody>
			</table>
			<!-- /ko -->
			<!-- ko if: item.note -->
			<p class="overlay-note" data-bind="html: item.note"></p>
			<!-- /ko -->
		</div>
	</div>
</div>

