#ahTour {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s 0s linear;
	z-index: 10000;
}
#ahTour.show {
	opacity: 1;
	transition-duration: 0.3s;
}
#ahTour .close-tour {
	position: absolute;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 53px;
	height: 53px;
	right: 13px;
	top: 13px;
	background-color: transparent;
	transform: rotate(45deg);
	z-index: 1;
	pointer-events: none;
}
#ahTour.show .close-tour {
	pointer-events: auto;
}
#ahTour .close-tour:before,
#ahTour .close-tour:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 5px;
	height: 43%;
	background-color: #fff;
}
#ahTour .close-tour:after {
	transform: translate3d(-50%, -50%, 0) rotate(90deg);
}
#overlayCustomWrapper,
#overlayWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	pointer-events: none;
}
#overlayCustomWrapper.show,
#overlayWrapper.show {
	display: block;
}
.tour-point {
	position: absolute;
	width: 40px;
	height: 50px;
	transform: translate3d(-50%, -50%, 0);
	transform-origin: center center;
	background: url(assets/drop-question.png) center/contain no-repeat;
	pointer-events: all;
	z-index: 10000;
}
.popover {
	position: absolute;
	min-width: 115px;
	max-width: 840px;
	min-height: 73px;
	max-height: none;
	color: #000;
}
.popover .arrow {
	display: none;
}
.popover .popover-title {
	font-weight: 700;
	color: #1691C3;
}
.popover.bottom:not(.custom) h3 {
	margin-top: 6px;
	font-size: 20px;
	text-align: center;
}
.popover .popover-content {
	padding: 0 15px 6px 0;
	color: #fff;
}
.popover.left,
.popover.right {
	min-height: auto;
}
.popover.right {
	margin-right: -15px;
}
.popover.left {
	margin-left: -15px;
}
.popover.custom-position {
	margin: 45px 0 0 28px;
}
