<article id="test_slide_3" class="slide" data-ag-name="Test Slide 3">
  <h1 data-ag-editable="header">Headline Slide 3</h1>

  <h2 data-ag-editable="sub-headline">Sub-Headline</h2>

  <h3 data-ag-editable="sub-sub-headline">Sub-Sub-Headline</h3>

  <p data-ag-editable="paragraph">This slide demonstrates how to add custom email attachment</p>
  <textarea class="custom-attachment-text">
This text will be attached.<br />
It can contain <b>HTML</b> as supported in emails.<br /><br />
<table>
    <tr>
        <th>Product</th>
        <th>Recommended Dilution (%)</th>
        <th>Consumption/Year</th>
        <th>Price ($/lt)</th>
    </tr>
    <tr>
        <td>Virkon S</td>
        <td>1.00</td>
        <td>30</td>
        <td>20.00</td>
    </tr>
</table>
  </textarea>
  <div>
      <button class="pure-button custom-attachment-button" data-ag-editable="button">Add attachment</button>
  </div>
  <p class="set-custom-popover" data-popover="Slide3/slide"></p>
  <div class="bayerLogo"></div>
  <div class="brandLogo"></div>
</article>
