#presentation .auto-references-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    visibility: visible;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: 0 0 50px 0 rgba(50, 50, 50, 0.5), inset 0 0 200px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0 0 50px 0 rgba(50, 50, 50, 0.5), inset 0 0 200px 0 rgba(50, 50, 50, 0.5);
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#presentation .auto-references-popup-overlay.hidden {
    visibility: hidden;
}

#presentation .auto-references-popup {
    display: block;
    position: relative;
    margin: 20% 20%;
    height: auto;

    min-height: 200px;
    max-height: 460px;
    max-width: 900px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 650px;

    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    overflow: hidden;
}

#presentation .auto-references-popup .scroll {
    height: auto;
    padding:20px;
    padding-top:0;
    min-height: 200px;
    max-height: 400px;
    max-width: 900px;
    width: 107%;
    overflow: hidden;
}

#presentation .auto-references-popup .scroll .references{
    width:90%;
}

#presentation .auto-references-popup header {
    height: 60px;
    overflow: hidden;
    padding: 20px;
}

#presentation .auto-references-popup h1 {
    margin: 10px;
    font-size: 15pt;
}

#presentation .auto-references-popup .x {
    position: absolute;
    top: 30px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 30px;

    display: inline-block;
    line-height: 0.5;
    border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: white;
    color: black;
}

#presentation ul li.mediaEntry {
    font-size: 12pt;
}

#presentation ul li.mediaEntry .tags {
    display: none;
}

#presentation .library #MediaLibrary input {
    width: 265px;
}

html.ag-microsite #presentation .auto-references-popup{
    min-width: 95%;
    margin: 5% 2%;
}

html.ag-microsite #presentation ul li.mediaEntry .emailAttachmentToggler {
    display: none;
}
