
#start_slide .container {
    background-image: url(../../contents/bg-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100%;
}

#start_slide .prod-packshot {
    position: absolute;
    bottom: 35px;
    /*bottom: 40px;*/
    left: 10px;
}
    #start_slide .prod-packshot img {
        width: 330px;
        /*width: 364px;*/
    }   

    #start_slide .contain-inside h1, #start_slide .contain-inside p {
        text-align: center!important;
    }
    #start_slide .contain-inside p {
        font-size: 18px!important;
        padding-left: 60px;
        padding-right: 60px;
    }

.la-number {
    position: absolute;
    bottom: -8px;
    left: 110px;    
}
    .la-number p {
        font-size: 12px!important;
        color: #fff;
        text-transform: uppercase;    
    }

#start_slide .slogan {
    position: absolute;
    bottom: 30px;
    right: 90px;
    width: 33%;
}
    #start_slide .slogan h2 {
        text-align: left!important;
        line-height: 1.25em!important;
        text-shadow: 0px 0px 4px rgba(255,255,255,0.98);
    }

#start_slide .landing-col img {
    width: 100%;
    max-width: 90px;
    display: block;
    margin: 0 auto 10px auto;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    border: 3px solid #fff;
    border-radius: 50%;
}
    #start_slide .landing-col a {
        font-family: 'TradeGothicLTStd-Bold';
        font-size: 16px;
        text-decoration: none;
        color: #083A83;
        text-transform: uppercase;
    }

#start_slide .ref {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #fff;
    font-size: 12px;
} 
/* Portrait and Landscape */
@media only screen
and (max-width: 736px)
and (max-device-width: 736px) {

    #start_slide .brandLogo.huge{
        width: 75%;
    }

    #start_slide .slide-container{
        width: 75%;
    }


}
