#resources_page_01 {}
#resources_page_01 .container {
    margin-top: -20px;
} 

#resources_page_01 .landing-col img {
	max-height: 240px;
	width: auto;
}
#resources_page_01 .landing-col.a-1 img {
    margin-top: 19px;
}

#resources_page_01 .landing-col a {
    color: #6F208B;
}
#resources_page_01 .landing-col img {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
    border: 4px solid #fff;
}