article.slide h2 {
	font-family: 'Barmeno-Medium' !important;
	color: #083A83 !important;
	text-align: center !important;
	font-weight: normal;
}

.landing-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.landing-col {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.landing-col img {
	width: 100%;
	max-width: 260px;
	display: block;
	margin: 0 auto 15px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
	border: 2px solid #fff;
}

.landing-col a {
	font-family: 'TradeGothicLTStd-Bold';
	font-size: 16px;
	text-decoration: none;
	color: #942365;
}

.container-small {
	max-width: 860px;
	margin: 0 auto;
}

img.img-full {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
	border: 1px solid #fff;
}
img.img-no-border {
	box-shadow: none;
	border: none;
}

.quote-box {
	margin: 45px 45px 0 45px;
	border: 1px solid #EFCAE0;
	color: #d582b7;
	border-radius: 25px;
	padding: 25px 50px;
	position: relative;
	font-family: 'TradeGothicLTStd-Bold';
	line-height: 36px;
}

.quote-name {
	padding-top: 15px;
	font-size: 14px;
	font-family: 'Barmeno-Regular';
}

.quote-desc {
	font-family: 'Barmeno-Medium';
	font-size: 26px;
}

.quote-box::after {
	content: "";
	display: block;
	position: absolute;
	width: 45px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	right: 10px;
	bottom: 10px;
	background-image: url("../../contents/Quote-Right.png");
}

.quote-box::before {
	content: "";
	display: block;
	position: absolute;
	width: 45px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	left: 10px;
	top: 10px;
	background-image: url("../../contents/Quote-Left.png");
}

.text-ref {
	font-size: 12px !important;
	position: absolute;
    bottom: 80px;
    left: 100px;
	white-space: no-wrap;
}
.text-center {
	text-align: center !important;
}

.landing-2-items {
	width: 660px;
	margin: 0 auto;
}

article.slide sup {
	vertical-align: super;
	font-size: smaller;
	border: solid 20px transparent;
	margin-left: -20px;
	margin-right: -20px;
}

.image-box {
	display: block;
	padding: 25px 0;
	border: 2px dashed #efcae0;
	border-left: none;
	border-right: none;
	margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;	
}

.image-box img {
	width: 100%;	
}

.color-1 {
	color: #a031ae;
}
.color-2 {
	color: #67aede;
}
.color-3 {
	color: #e58dc3;
}
.color-4 {
	color: #266dc2;
}

.circle-row {
	font-family: 'TradeGothicLTStd-Bold';
	font-size: 18px;
	color: #d582b7;
}

.circle-row .landing-col img {
	max-width: 200px;
}

article.slide h2.folate {
    font-size: 26px;
    font-family: 'TradeGothicLTStd-Bold'!important;
}

article.slide p.text-big {
	color: #083A83;
	font-size: 27px;
	/*font-size: 22px;*/
	/*font-weight: bold;*/
	/*letter-spacing: -0.01em;*/
	text-align: center;
	font-family: 'TradeGothicLTStd-Bold';
}

article.slide p.text-big span {
	font-size: 60px;
	color: #67aede;
	position: relative;
	font-family: 'TradeGothicLTStd-Bold';
}

article.slide p.text-big sup {
	font-size: 30px;
	position: absolute;
	top: -5px;
}