.d-n { display: none; } 

.accelerator [data-module="ag-auto-menu"] {
    height: 25px!important;
}

*[data-reference-id] {
    font-size: 60%!important;
}
.brandLogo-elevit {
    background-size: 160px 102px!important;
    width: 160px;
    height: 102px;
    position: absolute;
    top: 25px;
    left: 40px;
}
.brandLogo-elevit-sm {
    background-size: 80px 51px!important;
    width: 80px;
    height: 51px;
    position: absolute;
    bottom: 16px;
    right: 60px;
}
.brandLogo-elevit-range {
    background-size: 123px 79px!important;
    width: 123px;
    height: 79px;
    position: absolute;
    top: 130px;
    left: 44%;
}
	.brandLogo-elevit, .brandLogo-elevit-sm, .brandLogo-elevit-range {
	    background: url(assets/images/elevit-logo-new.png) no-repeat;
	}

.img-z {
	position: relative;
}

.icon-zoom {
    background-size: 70px 70px!important;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 125px;
    right: 220px;
}
	.icon-zoom {
	    background: url(../../contents/icon-zoom-plus-down.png) no-repeat;
	}

.slide header {
	padding: 15px 20px;
	border-bottom: 1px dashed #EFCAE0;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 20px 40px 0px rgba(245, 220, 235, 0.95);
	-moz-box-shadow:    0px 20px 40px 0px rgba(245, 220, 235, 0.95);
	box-shadow:         0px 20px 40px 0px rgba(245, 220, 235, 0.95);	
	background-image: url(../../contents/bg-Header-Dark-New.png);
	background-size: cover;
	background-position: center top;
	min-height: 101px;
}

.icon-nutrition,
.icon-folic-acid,
.icon-iron,
.icon-iodine,
.icon-formulation,
.icon-tablet-comparison,
.icon-the-elevit-range,
.icon-resources
{
	background-size: 66px 66px!important;
    width: 66px;
    height: 66px;
    position: relative;
}
	.icon-nutrition:after,
	.icon-folic-acid:after,
	.icon-iron:after,
	.icon-iodine:after,
	.icon-formulation:after,
	.icon-tablet-comparison:after,
	.icon-the-elevit-range:after,
	.icon-resources:after
	{
	    font-family: 'TradeGothicLTStd-Bold';
	    font-size: 28px;
	    text-transform: uppercase;
	    color: #fff;
	    text-align: left;
	    position: absolute;
	    top: 0;
	    left: 60px;
	    right: 0;
	    bottom: 0;
	    padding: 20px;
	    white-space: nowrap;
	}
	.icon-nutrition:after {
	    content: "Nutrition";
	}
	.icon-folic-acid:after {
	    content: "Folic acid";
	}
	.icon-iron:after {
	    content: "Iron";
	}
	.icon-iodine:after {
	    content: "Iodine";
	}
	.icon-formulation:after {
	    content: "Elevit Formulation";
	}
	.icon-tablet-comparison:after {
	    content: "Tablet comparison";
	}
	.icon-the-elevit-range:after {
	    content: "The Elevit Range";
	}	
	.icon-resources:after {
	    content: "Resources";
	}			
		.icon-nutrition {
		    background: url(../../contents/icon-Nutrition-White.png) no-repeat;
		}
		.icon-folic-acid {
		    background: url(../../contents/icon-Folic-acid.png) no-repeat;
		}
		.icon-iron {
		    background: url(../../contents/icon-Iron.png) no-repeat;
		}
		.icon-iodine {
		    background: url(../../contents/icon-Iodine-new.png) no-repeat;
		}
		.icon-formulation {
		    background: url(../../contents/icon-Elevit-Formulation.png) no-repeat;
		}
		.icon-tablet-comparison {
		    background: url(../../contents/icon-Tablet-new.png) no-repeat;
		}	
		.icon-the-elevit-range {
		    background: url(../../contents/icon-The-Elevit-Range.png) no-repeat;
		}
		.icon-resources {
		    background: url(../../contents/icon-Resources.png) no-repeat;
		}		

.container {
	padding: 10px 30px;
}

.container h1 {
	text-align: center!important;
}

.graph {
	position: relative;
}

.blue { background-color: #0076AC!important }
.vilolet { background-color: #A8378A!important }
.navy { background-color: #148B97!important }

.btn-range {
	padding: 14px 20px 10px 20px;
  	border-radius: 35px;
  	background-color: #DE86BA;
  	color: #fff;
  	text-transform: uppercase;
  	font-size: 16px;
  	font-family: 'TradeGothicLTStd-Bold';
  	min-width: 150px;
}

.contain-inside {
    position: absolute;
    top: 135px;
    right: 90px;
    max-width: 500px;
}

    
.packshot-menevit {
    position: absolute;
    bottom: 220px;
    left: 75px;
    z-index: 9;
}
    .packshot-menevit img {
        width: 135px;
    }	
    
.packshot-elevit-30-tablets {
    position: absolute;
    bottom: 225px;
    left: 190px;
    z-index: 8;
}
    .packshot-elevit-30-tablets img {
        width: 98px;
    }	

.packshot-elevit-100-tablets {
    position: absolute;
    bottom: 220px;
    left: 320px;
    z-index: 8;
}
    .packshot-elevit-100-tablets img {
        width: 183px;
    }

.packshot-morning-sickness {
    position: absolute;
    bottom: 225px;
    left: 460px;
    z-index: 7;
}
    .packshot-morning-sickness img {
        width: 143px;
    }

.packshot-breastfeedings {
    position: absolute;
    bottom: 206px;
    right: 175px;
    z-index: 8;
}
    .packshot-breastfeedings img {
        width: 197px;
    }
.graph-z {
	position: relative;
}
img.zoom {
	position: static!important;
}
.hd-graph {
	padding: 45px 25px 0 25px;
	/*max-width: 850px;*/
	margin: 0 auto;
}
.hd-graph .h4, .hd-graph .h5 {
    font-size: 18px;
    color: #083A83;
    margin-bottom: 10px;	
    text-transform: uppercase;
    line-height: 1.15em;
}
	.hd-graph .h5 {
		font-family: 'Barmeno-Medium';
	    font-size: 18px;
	}	
.pinch-zoom-container {
/*	box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
	border: 1px solid #fff;*/
}	

img.img-full.zoom {
	box-shadow: none;
	border: 1px solid #fff;
}