@font-face {
    font-family: Helvetica;
    src: url('assets/fonts/HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('assets/fonts/HelveticaLTStd-Roman.otf') format('opentype'),
    url('assets/fonts/HelveticaLTStd-Roman.woff') format('woff'), url('assets/fonts/HelveticaLTStd-Roman.ttf') format('truetype'), url('assets/fonts/HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman') format('svg');

    font-weight: normal;

}

@font-face {
    font-family: Helvetica-Bold;
    src: url('assets/fonts/HelveticaBold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/HelveticaBold.otf') format('opentype'),
    url('assets/fonts/HelveticaBold.woff') format('woff'), url('assets/fonts/HelveticaBold.ttf') format('truetype'), url('assets/fonts/HelveticaBold.svg#HelveticaBold') format('svg');

    font-weight: bold;

}

@font-face {
    font-family: HelveticaLTStd-Bold;
    src: url('assets/fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/HelveticaLTStd-Bold.otf') format('opentype'),
    url('assets/fonts/HelveticaLTStd-Bold.woff') format('woff'), url('assets/fonts/HelveticaLTStd-Bold.ttf') format('truetype'), url('assets/fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd') format('svg');

}

@font-face {
    font-family: Helvetica-Italic;
    src: url('assets/fonts/HelveticaLTOblique.eot?#iefix') format('embedded-opentype'), url('assets/fonts/HelveticaLTOblique.otf') format('opentype'),
    url('assets/fonts/HelveticaLTOblique.woff') format('woff'), url('assets/fonts/HelveticaLTOblique.ttf') format('truetype'), url('assets/fonts/HelveticaLTOblique.svg#HelveticaLTOblique') format('svg');

}

@font-face {
    font-family: HelveticaLT;
    src: url('assets/fonts/HelveticaLT.eot?#iefix') format('embedded-opentype'), url('assets/fonts/HelveticaLT.otf') format('opentype'),
    url('assets/fonts/HelveticaLT.woff') format('woff'), url('assets/fonts/HelveticaLT.ttf') format('truetype'), url('assets/fonts/HelveticaLT.svg#HelveticaLT') format('svg');

}

/*** add Extra font **/
@font-face {
  font-family: 'Barmeno-Regular';
  src:  url('assets/fonts/Barmeno-Regular.eot?#iefix') format('embedded-opentype'),  
        url('assets/fonts/Barmeno-Regular.otf')  format('opentype'),
        url('assets/fonts/Barmeno-Regular.woff') format('woff'), 
        url('assets/fonts/Barmeno-Regular.ttf')  format('truetype'), 
        url('assets/fonts/Barmeno-Regular.svg#Barmeno-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barmeno-Medium';
  src:  url('assets/fonts/Barmeno-Medium.eot?#iefix') format('embedded-opentype'),  
        url('assets/fonts/Barmeno-Medium.otf')  format('opentype'),
        url('assets/fonts/Barmeno-Medium.woff') format('woff'), 
        url('assets/fonts/Barmeno-Medium.ttf')  format('truetype'), 
        url('assets/fonts/Barmeno-Medium.svg#Barmeno-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTStd';
  src:  url('assets/fonts/TradeGothicLTStd.eot?#iefix') format('embedded-opentype'),  
        url('assets/fonts/TradeGothicLTStd.otf')  format('opentype'),
        url('assets/fonts/TradeGothicLTStd.woff') format('woff'), 
        url('assets/fonts/TradeGothicLTStd.ttf')  format('truetype'), 
        url('assets/fonts/TradeGothicLTStd.svg#TradeGothicLTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src:  url('assets/fonts/TradeGothicLTStd-Bold.eot?#iefix') format('embedded-opentype'),  
        url('assets/fonts/TradeGothicLTStd-Bold.otf')  format('opentype'),
        url('assets/fonts/TradeGothicLTStd-Bold.woff') format('woff'), 
        url('assets/fonts/TradeGothicLTStd-Bold.ttf')  format('truetype'), 
        url('assets/fonts/TradeGothicLTStd-Bold.svg#TradeGothicLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTStd-Obl';
  src:  url('assets/fonts/TradeGothicLTStd-Obl.eot?#iefix') format('embedded-opentype'),  
        url('assets/fonts/TradeGothicLTStd-Obl.otf')  format('opentype'),
        url('assets/fonts/TradeGothicLTStd-Obl.woff') format('woff'), 
        url('assets/fonts/TradeGothicLTStd-Obl.ttf')  format('truetype'), 
        url('assets/fonts/TradeGothicLTStd-Obl.svg#TradeGothicLTStd-Obl') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*** end add Extra font **/