/* Root level styling */
body, #presentation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* prevent content to move out of screen when keyboard is up on iOS7 */
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'TradeGothicLTStd';
    /*font-family: "Helvetica", sans-serif;*/ /* set default font from fonts.css */
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    body{
        width: 768px !important;
        height: 1024px !important;
    }

    html{
        height: 100%;
        max-height: 1024px;
    }}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    body{
        width: 1024px !important;
        height: 768px !important;
    }

    html{
        height:100%;
        max-height: 768px;
    }
    @media (max-height: 700px) {
        html{
            height:100%;
            max-height: 671px;
        }
    }
}
