article.slide {
    font-family: 'TradeGothicLTStd';
    /*font-family: Helvetica, sans-serif;*/
    font-size: 18px;
    color: #646464;
    /*color: #6C6C6C;*/
    padding: 0px !important;
    /*padding: 64px !important;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../../contents/bg-footer-new.png) no-repeat center bottom / contain, -moz-linear-gradient(top,  #ffffff 0%, #ffffff 75%, #efcae0 100%); /* FF3.6-15 */
    background: url(../../contents/bg-footer-new.png) no-repeat center bottom / contain, -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 75%,#efcae0 100%); /* Chrome10-25,Safari5.1-6 */
    background: url(../../contents/bg-footer-new.png) no-repeat center bottom / contain, linear-gradient(to bottom,  #ffffff 0%,#ffffff 75%,#efcae0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

article.slide.black {
    color: white;
    background-color: black;
}

article.slide .inset {
    position: absolute;
    top: 64px;
    left: 64px;
    right: 64px;
    bottom: 64px;
}

article.slide h1 {
    font-family: 'Barmeno-Regular';
    /*font-family: 'Barmeno-Medium';*/
    /*font-family: Helvetica-Bold;*/
    font-size: 34px;
    color: #083A83;
    /*color: #1691C3;*/
    line-height: 1.25em;
    margin-bottom: 17px;
    text-align: left;
}

article.slide h2 {
    font-family: 'Barmeno-Medium';
    /*font-family: Helvetica-Bold;*/
    font-size: 28px;
    color: #6EC023;
    margin-bottom: 26px;
    line-height: 1em;
    text-align: left;
}

article.slide h3 {
    font-family: 'Barmeno-Regular';
    /*font-family: HelveticaLTStd-Bold;*/
    margin-bottom: 19px;
    font-size: 24px;
    line-height: 1em;
    text-align: left;
}

article.slide p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    text-align: left;
/*    padding-left: 40px;
    padding-right: 40px;*/
}

article.slide ul {
    list-style-type: none;
    margin-left: 65px;
    text-align: left;
}

article.slide li {
    position: relative;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.25em;
}

article.slide li:before {
    content: url(../../contents/bullets.png);
    /*content: "•";*/
    font-size: 28px;
    position: absolute;
    top: -4px;
    left: -25px;
}

article.slide sup {
    top: 0;
}

    article.slide li strong {
        font-family: 'TradeGothicLTStd-Bold';
        font-size: 24px;
    }    
/* Portrait and Landscape */
@media only screen
and (max-width: 736px)
and (max-device-width: 736px) {

    .accelerator .slides > article.slide.present {
        overflow-y: scroll;
        margin: 5px ;
        padding: 45px !important;
    }

    .bayerLogo,
    .bayerLogoWhite{
        top: 20px;
    }

    .brandLogo{
        bottom: inherit;
        right: 20px;
        margin-bottom: 50px;
    }

    article.slide h1{
        margin-top: 50px;
    }


}
