#tutorial {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10001;
	pointer-events: none;
}
#tutorial.active-tutorial {
	pointer-events: auto;
}
#tutorial .info-popup {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	padding: 0;
	background-color: rgba(0, 0, 0, .8);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s 0s linear;
}
#tutorial .close-tutorial {
	position: absolute;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 53px;
	height: 53px;
	background-color: transparent;
	transform: rotate(45deg);
	right: 13px;
	top: 13px;
	z-index: 1;
}
#tutorial .close-tutorial:before,
#tutorial .close-tutorial:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 5px;
	height: 43%;
	background-color: #fff;
}
#tutorial .close-tutorial:after {
	transform: translate3d(-50%, -50%, 0) rotate(90deg);
}
#tutorial #tutorialTabGroup {
	display: flex;
}
#tutorial h1 {
	position: absolute;
	top: 97px;
	left: 97px;
	margin: 0;
	font: 400 40px / 1 Helvetica;
	color: #fff;
}
#tutorial h2 {
	margin-bottom: 42px;
	color: #fff;
}
#tutorial p,
#tutorial li {
	position: relative;
	font: 400 22px / 1.2 Helvetica;
	color: #fff;
}
#tutorial p small,
#tutorial li small {
	display: inline-block;
	font-size: 82%;
}
#tutorial ol {
	list-style: none;
}
#tutorial ul {
	padding-left: 2px;
}
#tutorial ul ol {
	padding-left: 34px;
}
#tutorial ul > li {
	position: relative;
	padding-left: 10px;
	margin-bottom: 9px;
}
#tutorial ul ol li {
	margin-bottom: 25px;
}
#tutorial ul > li:last-of-type {
	margin-bottom: 0;
}
#tutorial ul > li:before {
	content: '\2022';
	position: absolute;
	left: 0;
}
#tutorial mark {
	color: #1691C3;
	font-style: normal;
	background: none;
}
#tutorial .item {
	position: relative;
	margin-bottom: 20px;
}
#tutorial [data-info-item='1'] .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 73px;
	margin-left: 85px;
	border-bottom: 1px solid #fff;
}
#tutorial [data-info-item='1'] .item:before {
	content: '';
	width: 73px;
	height: 73px;
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	border: 1px solid #fff;
	border-radius: 15px;
	margin-right: 12px;
}
#tutorial [data-info-item='1'] .item:first-of-type:before {
	background: url(assets/move.png) center / 60% auto no-repeat;
}
#tutorial [data-info-item='1'] .item:nth-of-type(2):before {
	background: url(assets/tap.png) center / 40% auto no-repeat;
}
#tutorial [data-info-item='1'] .item:nth-of-type(3):before {
	background: url(assets/ref.png) center / 50% auto no-repeat;
}
#tutorial [data-info-item='1'] .item:nth-of-type(4):before {
	background: url(assets/training.png) center / 50% auto no-repeat;
}
#tutorial [data-info-item='1'] .item:nth-of-type(5):before {
	background: url(assets/info.png) center / 50% auto no-repeat;
}
#tutorial .content-wrap {
	overflow: hidden;
	position: relative;
}
#tutorial .iScrollVerticalScrollbar {
	height: 100%;
	position: absolute;
	right: 11px;
	width: 7px;
	top: 0;
}
#tutorial .iScrollIndicator {
	background: #fff;
}
#tutorial.active-tutorial .tutorial_1 .info-popup {
	opacity: 1;
	pointer-events: auto;
}
