<div data-bind="css: tutorialStep">
	<div class="info-popup">
		<button class="close-tutorial" data-bind="event: {'tap': $root.fastCloseTour}"></button>
		<h1 data-bind="html: data.info.header"></h1>
		<div class="tab-group" id="tutorialTabGroup" data-module="ah-tab-group">
			<nav class="tg-nav"><!-- ko foreach: data.info.tab_items -->
				<button class="tg-tab tg-general-button"
						data-bind="attr: { 'data-tab': $index }, html: $data.tab_header"></button><!-- /ko -->
				<!-- ko foreach: data.info.placeholders -->
				<button class="tg-general-button" data-bind="html: $data.header"></button><!-- /ko -->
				<button class="tg-general-button start-button-training"
						data-bind="event: { 'tap': $root.goTour }, text: data.info.button"></button>
			</nav><!-- ko foreach: data.info.tab_items -->
			<div class="tg-content" data-bind="attr: { 'data-info-item': $index, 'data-tab': $index }">
				<!-- ko if: $data.content_header -->
				<h2 data-bind="html: $data.content_header"></h2><!-- /ko -->
				<div class="content-wrap">
					<div class="scroll-wrapper-container"><!-- ko if: $data.text_items -->
						<div class="text-items" data-bind="foreach: { data: $data.text_items, as: 'item' }">
							<div class="item" data-bind="foreach: { data: $data.texts, as: 'textsItem' }">
								<p data-bind="html: textsItem.text"></p>
							</div>
						</div><!-- /ko --><!-- ko if: $data.unordered_list -->
						<ul data-bind="foreach: { data: $data.unordered_list, as: 'li' }">
							<li data-bind="html: li.text"></li><!-- ko if: li.sublist -->
							<ol data-bind="foreach: { data: li.sublist, as: 'subLi' }">
								<li data-bind="html: subLi.subtext"></li>
							</ol><!-- /ko -->
						</ul><!-- /ko --><!-- ko if: $data.steps_list -->
						<ol data-bind="foreach: { data: $data.steps_list, as: 'li' }">
							<li data-bind="html: li.text"></li><!-- ko if: li.sublist -->
							<ul data-bind="foreach: { data: li.sublist, as: 'subLi' }">
								<li data-bind="html: subLi.subitem"></li>
							</ul><!-- /ko -->
							<!-- ko if: li.info -->
							<p data-bind="html: li.info"></p><!-- /ko -->
							<!-- ko if: li.thumbnails -->
							<ul class="thumbnail-list"
								data-bind="foreach: { data: li.thumbnails, as: 'thumbnailItem' }">
								<li class="thumbnail-item-wrap">
									<div class="thumbnail-item"></div>
									<p class="thumbnail-name" data-bind="html: thumbnailItem.name"></p>
									<!-- ko if: thumbnailItem.thumbnailChildren -->
									<ul class="thumbnail-children"
										data-bind="foreach: { data: thumbnailItem.thumbnailChildren, as: 'child' }">
										<li class="thumbnail-item-wrap">
											<div class="thumbnail-item"></div>
											<p class="thumbnail-name" data-bind="html: child.name"></p>
										</li>
									</ul><!-- /ko -->
								</li>
							</ul><!-- /ko -->
						</ol><!-- /ko -->
					</div>
				</div>
			</div><!-- /ko -->
		</div>
	</div>
</div>