#folic_acid_page_04 {}

#folic_acid_page_04 .container-small {
	max-width: 950px;
}
#folic_acid_page_04 .container {
    padding: 20px 30px;
}
#folic_acid_page_04 .text-ref {
    bottom: 80px;
    left: 60px;
    padding-right: 50px;
}
	#folic_acid_page_04 .text-ref p {
	    font-size: 12px !important;
	    line-height: 16px;
	    margin-bottom: 5px;
	    text-align: left;	    
	}
#folic_acid_page_04 .graph-z .icon-zoom {
    bottom: 0px;
    right: 0px;
}	