<article id="test_slide_2" class="slide" data-ag-name="Test Slide 2">

  <h1 data-ag-editable="header">Headline Slide 2</h1>
  <h2 data-ag-editable="sub-headline">Sub-Headline</h2>
  <h3 data-ag-editable="sub-sub-headline">Sub-Sub-Headline</h3>

  <p data-ag-editable="paragraph">Paragraph</p>
  <ul>
    <li data-ag-editable="list-entry-1">Donec in sagittis erat.<sup data-reference-id='esccap_2011'></sup></li>
    <li data-ag-editable="list-entry-2">Duis blandit tincidunt hendrerit.<sup data-reference-id='doe_j_05_2007,doe_j_01_2005,doe_j_13_2007,doe_j_14_2007,doe_j_15_2007,doe_j_16_2007,doe_j_03_2009'></sup></li>
    <li data-ag-editable="list-entry-3">Phasellus sed sem lacus. Vestibulum ante<br/>ipsum primis in faucibus<sup data-reference-id='doe_j_04_2007'></sup> orci luctus et ultrices.</li>
  </ul>
  <p class="set-custom-popover" data-popover="Slide2/slide"></p>
  <div class="bayerLogo"></div>
  <div class="brandLogo"></div>
</article>
