<article id="test_popup_1_slide" class="slide">

  <h1 data-ag-editable="header">Headline Popup Slide 1</h1>
  <button  data-popover='openPopup/bottomCenterCustom1/bottom' data-popup="test_popup_2_slide">TEST_POPUP_2_SLIDE</button>
  <h2 data-ag-editable="sub-headline">Sub-Headline<sup data-reference-id='wall_r_2001,esccap_2011,doe_j_01_2005,doe_j_04_2007'></sup></h2>

  <h3 data-ag-editable="sub-sub-headline">Sub-Sub-Headline</h3>

  <p data-ag-editable="paragraph">Paragraph</p>

</article>
